:root
{
    --lightgrey: rgb(146, 187, 228);
    --darkgrey: rgb(1, 66, 87);
}

*
{
    font-family: 'Quantico', sans-serif;
    color: rgb(203, 246, 255);
    user-select: none;
    margin: 0;
    z-index: 5;
}

body
{
    background-color: var(--lightgrey);
}

.base
{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.logo
{
    height:20rem;
}

.logo img
{
    margin-top: 2rem;
    height: 400px;
}


.download
{
    height: 5rem;
    width: 20rem;
    border: none;
    background-color: var(--darkgrey);
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(.23,.7,.23,.71);
    font-size: 2rem;
    box-shadow: 5px 10px black;
    margin: 2rem;
}

.download a
{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download.large
{
    height: 5rem;
    width: 44rem;
}

.download:hover
{
    transform: scale(1.2);
    box-shadow: 15px 30px black;
    cursor: pointer;
}

.about
{
    height: auto;
}

.about div
{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    width: 50%;
}

.separator 
{
    height: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.separator div
{
    background-color: var(--darkgrey);
    height: 5px;
    width: 33%;
}