:root
{
    --lightgrey: #92bbe4;
    --lightgrey-dark: #85b3e0;
    --darkgrey: rgb(1, 66, 87);
    --rhombus-size: 1rem;
    --rhombus-spacing: 3rem;
}

*
{
    font-family: 'Quantico', sans-serif;
    user-select: none;
    margin: 0;
    color: #cbf6ff;
}

body
{
    background-image:
    repeating-linear-gradient(
        135deg,
        transparent,
        transparent var(--rhombus-size),
        var(--lightgrey) var(--rhombus-size),
        var(--lightgrey) calc(var(--rhombus-spacing) + var(--rhombus-size))
      ),
    repeating-linear-gradient(
        45deg,
        var(--lightgrey-dark),
        var(--lightgrey-dark) var(--rhombus-size),
        var(--lightgrey) var(--rhombus-size),
        var(--lightgrey) calc(var(--rhombus-spacing) + var(--rhombus-size))
      );
     /*  animation: background 1s linear 0s 9999 forwards; */
}

.base
{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}

.logo
{
    height:20rem;
}

.logo img
{
    margin-top: 2rem;
    height: 400px;
}

.hoverButtonAnimated
{
    height: 5rem;
    width: 20rem;
    border: none;
    background-color: var(--darkgrey);
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(.23,.7,.23,.71);
    font-size: 2rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin: 2rem;
}

.hoverButtonAnimated a
{
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hoverButtonAnimated.large
{
    height: 5rem;
    width: 44rem;
}

.hoverButtonAnimated:hover
{
    transform: scale(1.2);
    cursor: pointer;
}

.about
{
    height: auto;
    
}

.about div
{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    width: 50%;
    color: var(--darkgrey);
}

.about div *
{
    color: var(--darkgrey);
}

.separator 
{
    height: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.separator div
{
    background-color: var(--darkgrey);
    height: 5px;
    width: 33%;
}

.docsMainWindow
{
    width: 50rem;
    height: 50rem;
    border-radius: 2rem;
    border: none;
    scroll-behavior: none;

    margin-left: 50rem;
    margin-top: -15rem;
}

#warning {
    background-color: red;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}